<a href="https://colab.research.google.com/github/VICKYPATIL2525/Python-codes/blob/main/Learning_Python_Pandas_W3schools.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

my_dataset = {
     'cars': ["BMW","benz","S class"],
     'owner':["Ganesh","Nikhil","Vicky"]

 }

car_info = pd.DataFrame(my_dataset)
print(car_info)

      cars   owner
0      BMW  Ganesh
1     benz  Nikhil
2  S class   Vicky

dataset name ={
  '1st column heading':["column data 1","column data 2","column data n"],
  '2nd coulmn heading' :[column data 1","column data 2","column data n]
  the n number of columnand row
}
veriable_name = pd.DataFrame(Dataset_name)
print(veriable name)

In [ ]:
import pandas as pd
a = ['data1', 'data2', 'data3']

num = pd.Series(a,index=["vicky","ganesh", "Nikhil"])
print(num)

vicky     data1
ganesh    data2
Nikhil    data3
dtype: object

In [ ]:
import pandas as pd
student_name = ['vicky', 'ganesh', 'Nikhil', 'dipali', 'samiksha','rohit']
Attendance = pd.Series(student_name, index = ['roll 1','roll 2','roll 3','roll 4','roll 5','roll 6'])
print(Attendance)

roll 1       vicky
roll 2      ganesh
roll 3      Nikhil
roll 4      dipali
roll 5    samiksha
roll 6       rohit
dtype: object

In [ ]:
import pandas as pd
student_name = ['vicky', 'ganesh', 'Nikhil', 'dipali', 'samiksha','rohit']
Attendance = pd.Series(student_name,
                       index = ['roll 1','roll 2','roll 3','roll 4','roll 5','roll 6'])
print(Attendance)

roll 1       vicky
roll 2      ganesh
roll 3      Nikhil
roll 4      dipali
roll 5    samiksha
roll 6       rohit
dtype: object

In [ ]:
#this code is just for number and charecter values
import pandas as pd
pd.DataFrame ({'Numbers':[10,20,30,40,50], 'Char':["Vicky","Ganesh","Nikhil","Sarthak","Vinod"]})

   Numbers     Char
0       10    Vicky
1       20   Ganesh
2       30   Nikhil
3       40  Sarthak
4       50    Vinod

In [ ]:
#INDEX LINE NUMBER  6
#this program is for the index for the values
import pandas as pd
pd.DataFrame({'Numbers':[10,20,30],
              'Char':["Vicky","Ganesh","Nikhil"]},
             index=['Product A', 'Product B', 'prodect C'])

           Numbers    Char
Product A       10   Vicky
Product B       20  Ganesh
prodect C       30  Nikhil

In [ ]:
#Series
import pandas as pd
print(vicky)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [ ]:
#Series
#Puting the value in veriable and printing that veriable
import pandas as pd
vicky = pd.Series([1,2,3,4,5,])
print(vicky)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [ ]:
#Series INDEX
import pandas as pd
pd.Series(['vicky 2021','vicky 2022','vicky 2023'], index=['50','40','80'], name = 'marks')

50    vicky 2021
40    vicky 2022
80    vicky 2023
Name: marks, dtype: object

In [ ]:
#series

In [ ]:
print("this ")